templates/processor_sql_cosmos_pipe/processor_sql_cosmos_pipe.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"az_sql_ls": {
			"type": "string"
		},
		"az_cosmos_ls": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/processor_sql_cosmos_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "update_error_copy_data_to_cosmos",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "copy_data_to_cosmos",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_Insert_ErrorInformation]",
							"storedProcedureParameters": {
								"errorAtStage": {
									"value": "download object",
									"type": "String"
								},
								"errorInPipeline": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"errorMessage": {
									"value": {
										"value": "@activity('copy_data_to_cosmos').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"referenceId": {
									"type": "Guid"
								},
								"referenceTable": {
									"value": {
										"value": "@pipeline().parameters.referencetable",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('az_sql_ls')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "save_status_of_processor",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "copy_data_to_cosmos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_UpdateProcessor_Pipe_Status]"
						},
						"linkedServiceName": {
							"referenceName": "[parameters('az_sql_ls')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "copy_data_to_cosmos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_Get_ObjectsToBeProcessedForCosmos]",
								"storedProcedureParameters": {
									"application": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.azurecontainer",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Guid"
										},
										"sink": {
											"path": "$['id']"
										}
									},
									{
										"source": {
											"name": "Application",
											"type": "String"
										},
										"sink": {
											"path": "$['application']"
										}
									},
									{
										"source": {
											"name": "FilePath",
											"type": "String"
										},
										"sink": {
											"path": "$['FilePath']"
										}
									},
									{
										"source": {
											"name": "SnapshotPath",
											"type": "String"
										},
										"sink": {
											"path": "$['SnapshotPath']"
										}
									},
									{
										"source": {
											"name": "IsSnapshot",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['IsSnapshot']"
										}
									},
									{
										"source": {
											"name": "Version",
											"type": "Int64"
										},
										"sink": {
											"path": "$['Version']"
										}
									},
									{
										"source": {
											"name": "Hold",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['SystemMetadata']['Hold']"
										}
									},
									{
										"source": {
											"name": "Index",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['SystemMetadata']['Index']"
										}
									},
									{
										"source": {
											"name": "Shred",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['SystemMetadata']['Shred']"
										}
									},
									{
										"source": {
											"name": "Retention",
											"type": "Int64"
										},
										"sink": {
											"path": "$['SystemMetadata']['Retention']"
										}
									},
									{
										"source": {
											"name": "DocumentSize",
											"type": "Int32"
										},
										"sink": {
											"path": "$['DocumentSize']"
										}
									},
									{
										"source": {
											"name": "LastModifiedDate",
											"type": "Int32"
										},
										"sink": {
											"path": "$['LastModifiedDate']"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String"
										},
										"sink": {
											"path": "$['Status']"
										}
									},
									{
										"source": {
											"name": "QueueRequestType",
											"type": "String"
										},
										"sink": {
											"path": "$['QueueRequestType']"
										}
									},
									{
										"source": {
											"name": "ContentMD5",
											"type": "String"
										},
										"sink": {
											"path": "$['ContentMD5']"
										}
									},
									{
										"source": {
											"name": "LeaseId",
											"type": "String"
										},
										"sink": {
											"path": "$['LeaseId']"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "Int32"
										},
										"sink": {
											"path": "$['CreatedDate']"
										}
									},
									{
										"source": {
											"name": "ETag",
											"type": "String"
										},
										"sink": {
											"path": "$['ETag']"
										}
									},
									{
										"source": {
											"name": "BatchID"
										},
										"sink": {
											"path": "$['BatchID']"
										}
									},
									{
										"source": {
											"name": "CustomMetadata"
										},
										"sink": {
											"path": "$['CustomMetadata']"
										}
									},
									{
										"source": {
											"name": "CustomMetadataAnnotation"
										},
										"sink": {
											"path": "$['CustomMetadataAnnotation']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "az_sql_hcp_data",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "az_metadata_cosmos_ds",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"referencetable": {
						"type": "string",
						"defaultValue": "tblhcpdata"
					},
					"azurecontainer": {
						"type": "string",
						"defaultValue": "evidential"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/az_sql_hcp_data')]",
				"[concat(variables('factoryId'), '/datasets/az_metadata_cosmos_ds')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_sql_hcp_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('az_sql_ls')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblhcpdata"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_metadata_cosmos_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('az_cosmos_ls')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"application": {
							"type": "string"
						},
						"FilePath": {
							"type": "string"
						},
						"SnapshotPath": {
							"type": "string"
						},
						"IsSnapshot": {
							"type": "boolean"
						},
						"Version": {
							"type": "string"
						},
						"SystemMetadata": {
							"type": "object",
							"properties": {
								"Hold": {
									"type": "boolean"
								},
								"Index": {
									"type": "boolean"
								},
								"Shred": {
									"type": "boolean"
								},
								"Retention": {
									"type": "integer"
								}
							}
						},
						"CustomMetadata": {
							"type": "null"
						},
						"DocumentSize": {
							"type": "integer"
						},
						"ClientId": {
							"type": "string"
						},
						"LastModifiedDate": {
							"type": "integer"
						},
						"Status": {
							"type": "string"
						},
						"QueueRequestType": {
							"type": "string"
						},
						"ContentMD5": {
							"type": "string"
						},
						"LeaseId": {
							"type": "string"
						},
						"CreatedDate": {
							"type": "integer"
						},
						"ETag": {
							"type": "string"
						}
					}
				},
				"typeProperties": {
					"collectionName": "metadata"
				}
			},
			"dependsOn": []
		}
	]
}